.backdrop {
  position: fixed;
  inset: 0;
  background-image: linear-gradient(
    to bottom,
    var(--light-cream),
    var(--light-cream),
    hsl(43, 78%, 98%, 0.7),
    hsl(43, 78%, 98%, 0.5)
  );
}
