.backdrop {
  position: fixed;
  inset: 0;
  background-image: linear-gradient(
    to bottom,
    var(--light-cream),
    var(--light-cream),
    hsl(43, 78%, 98%, 0.7),
    hsl(43, 78%, 98%, 0.5)
  );
}

.mobile-menu {
  flex-direction: column;
  gap: 2rem;
  text-transform: capitalize;
  font-size: 2.6rem;

  position: fixed;
  inset: 20% 0;

  z-index: 10;
}

.mobile-menu a {
  color: var(--dark-grey-blue);
}

.close-menu {
  top: 2rem;
  right: 2rem;
  font-size: 2rem;
}
