.main-btn {
  font-size: 1.6rem;
  color: var(--light-cream);
}

.home-hero {
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: url(../../assets/home/mobile/image-hero-coffeepress.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  line-height: 2;
  min-height: 45rem;
  color: var(--light-cream);
}

.home-hero h1 {
  font-size: 3.2rem;
}

.home-hero p {
  font-size: 1.6rem;
}
