.main-btn {
  font-size: 1.6rem;
  color: var(--light-cream);
}

.collection h2 {
  background: -webkit-linear-gradient(
    var(--dark-grey-blue),
    var(--light-cream)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
