.main-btn {
  font-size: 1.6rem;
  color: var(--light-cream);
}

.home-hero {
  background: url(../../assets/home/mobile/image-hero-coffeepress.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.collection h2 {
  background: -webkit-linear-gradient(
    var(--dark-grey-blue),
    var(--light-cream)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
