.navbar {
  align-items: center;
  font-size: 2rem;
}

.nav-links {
  display: none;
  text-transform: uppercase;
  text-decoration: none;
}

@media screen and (min-width: 500px) {
  .nav-menu {
    display: none;
  }

  .nav-links {
    display: flex;
  }
}
