footer {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  background-color: var(--dark-grey-blue);
  padding: 4rem 0;
}

footer .links {
  flex-direction: column;
  text-align: center;
  gap: 1.5rem;
  font-size: 1.5rem;
  color: var(--grey);
  text-transform: uppercase;
}

footer .socials {
  gap: 2rem;
  color: var(--light-cream);
  font-size: 3rem;
  transition: 0.3s;
}

footer .socials *:hover {
  color: var(--pale-orange);
}
