@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Fraunces:wght@900&display=swap");

:root {
  --darkCyan: hsl(179, 81%, 29%);
  --dark-grey-blue: hsl(215, 19%, 25%);
  --pale-orange: hsl(25, 94%, 86%);
  --grey: hsl(215, 5%, 54%);
  --light-cream: #fefcf7;
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
}

a {
  text-decoration: none;
}

.barlow {
  font-family: "Barlow", sans-serif;
}

.fraunces {
  font-family: "Fraunces", serif;
}

.btn {
  background-color: #0e8784;
  padding: 1rem 1.5rem;
}
