@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Fraunces:wght@900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.barlow {
  font-family: "Barlow", sans-serif;
}

.fraunces {
  font-family: "Fraunces", serif;
}

.home-hero {
  background: url(./assets/home/mobile/image-hero-coffeepress.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 2;
  min-height: 45rem;
}
