@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Fraunces:wght@900&display=swap");

:root {
  --darkCyan: #0e8784;
  --dark0grey-blue: #333d4b;
  --pale-orange: #fdd6ba;
  --grey: #83888f;
  --light-cream: #fefcf7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.barlow {
  font-family: "Barlow", sans-serif;
}

.fraunces {
  font-family: "Fraunces", serif;
}

.btn {
  background-color: #0e8784;
  padding: 1rem 1.5rem;
}
